/* 
    * Written by MalwarePad https://malwarepad.com
*/

body {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 6vw;
    size: 6vw;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
